/* Hero Section */
.hero {
  padding: 77px 0 var(--padding-50);
  background: transparent;
  max-width: var(--container-max); 
  width: 100%;
  margin: 0 auto;
}

.hero .container {
  max-width: var(--container-max); 
  width: 100%;
  margin: 0 auto;
}

.hero h1 {
  margin: 0 0 var(--margin-60);
  font-family: var(--ff-onest);
  font-weight: var(--fw-medium);
  font-size: var(--fs-hero-h1);
  line-height: var(--lh-hero-h1);
  text-transform: uppercase;
  color: var(--c-hero-title);
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
}

.hero h1 .first-line,
.hero h1 .second-line {
  display: block;
  text-align: left;
}

.hero h1 .second-line {
  padding-left: 168px;
}

.hero-features {
  height: var(--hero-features-height);
  border-radius: var(--r-30);
  background: var(--banner-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  max-width: var(--container-max); 
  width: 100%;
}

.hero-features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--gap-15);
  grid-template-rows: auto 16px auto 49px 1px 48px auto;
  max-width: var(--hero-features-max-width);
  background-color: rgba(255, 255, 255, 0.3);
  margin: 25px 25px 25px auto;
  border-radius: var(--r-30);
  padding: var(--padding-30);
  box-sizing: border-box;
}

.hero-features-separator {
  grid-row: 5;
  grid-column: 1 / 3;
  height: 1px;
  width: 422px;
  background: var(--c-hero-text-on-image);
  border: 0;
  align-self: center;
}

.hero-features-description {
  grid-row: 7;
  grid-column: 1 / 3;
}

.feature-item:nth-child(1),
.feature-item:nth-child(2) {
  grid-row: 1;
}

.feature-item:nth-child(1) {
  grid-column: 1;
}

.feature-item:nth-child(2) {
  grid-column: 2;
}

.feature-item:nth-child(3),
.feature-item:nth-child(4) {
  grid-row: 3;
}

.feature-item:nth-child(3) {
  grid-column: 1;
}

.feature-item:nth-child(4) {
  grid-column: 2;
}

.feature-item {
  display: flex;
  align-items: center;
  width: var(--feature-item-width);
  height: var(--feature-item-height);
}

.feature-item svg {
  width: var(--feature-icon-size);
  height: var(--feature-icon-size);
  flex-shrink: 0;
  margin-right: var(--gap-10);
}

.feature-item p,
.hero-features-description-p {
  font-family: var(--ff-onest);
  font-weight: var(--fw-regular);
  font-size: var(--fs-hero-text);
  line-height: var(--lh-hero-text);
  color: var(--c-hero-text-on-image);
}

.hero-features-description-p {
  white-space: normal;
}